
  
<div class="container" style="width: 100%;padding: 11px 20px;background-color: #868e96;display: flex;">
      <h1 class="logo">
        <a href="#/">
          <img alt="ngx-bootstrap" src="assets/images/logo-white.png">
        </a>
      </h1>
  <div class="header-info" style="margin-left: 20%;display: flex;align-items: center;">
    <div class="prev-docs" container="body" dropdown="">
      <h4 style="font-weight: 1000;"> Projeto Estabelecimento </h4>
    </div>
  </div>
</div>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: .0rem 0rem;line-height: 1;color: rgba(0,0,0,.5);">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/Estabelecimentos">Estabelecimentos</a>
          <a class="nav-link" routerLink="/Categorias">Categorias</a>
        </div>
    </div>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>